body {
    background-color: rgb(210,105,30);
    color: rgb(0,255,255);
    font-family: "blenny", blenny;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 99%;
